<div class="leyendaMain leyendaMain--small">
    <div class="leyendaMain__title">
        {{Municipio}}
    </div>
    <div class="leyendaMain__body">
        <div class="leyendaMain__leyenda">Leyenda</div>
        <div class="leyendaMain__content">
            <div *ngFor="let item of datos" class="items">
                <div *ngIf="tipo=='focosCalor'" class="items__icono" [style.background-color]="item.color"
                    [style.border-radius]="'50%'"></div>
                <div *ngIf="tipo!='focosCalor'" class="items__icono" [style.background-color]="item.color"
                    [style.border-radius]="'0%'"></div>
                <div class="items__texto">{{ item.description }}</div>
            </div>
        </div>

    </div>
</div>