.table-responsive {
    overflow-x: auto;
    overflow-y: auto;
    /* Agrega scroll horizontal si el contenido excede el ancho */
    -webkit-overflow-scrolling: touch;
    /* Mejora el scroll en dispositivos táctiles */
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 30px;
    height: 100%;
    /* max-height: 500px; */

}

.table-responsive::-webkit-scrollbar-thumb {
    background: #272323E5;
    border-radius: 10px;

}

.table-responsive::-webkit-scrollbar {
    width: 10px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #5E5E5E;
    border-radius: 10px;
}


.table {
    width: 90%;
    border-collapse: collapse;
    color: white;
    font-size: 0.8rem;
}



.table th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.table tbody tr {
    border-bottom: 1px solid #dee2e6;

}

.table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);

}

.table td {
    /* padding: 0.75rem; */

    vertical-align: top;

    border-top: 1px solid #dee2e6;

    text-align: justify;
    padding: 7px;

}

.table tbody tr:first-child td {
    border-top: none;
}



.table th,
.table td {
    border-right: 1px solid #dee2e6;
}

.table th:last-child,
.table td:last-child {
    border-right: none;

}