.text {
    /* max-height: 400px; */
    height: 100%;
    overflow-y: auto;
    color: white;
    width: 95%;

    &--title {
        font-weight: bold;
        text-align: center;
    }

    &--normal {
        text-align: justify;
    }
}