<app-card-generico [Municipio]="municipio" [titulo]="'Recuperación y Restauración'" [tamContenedor]="'bar_main--small'"
    *ngIf="mostrarPantalla1">
    <div class="ContenedorPrimeraVIsta">
        <p>Identificación de acciones para la recuperación y restauración de áreas afectadas por incendios forestales
        </p>
        <button class="boton boton--azul" (click)="verRecuperacion()">Ver Acciones </button>
    </div>
</app-card-generico>
<app-card-generico [Municipio]="municipio" *ngIf="mostrarPantalla2" [tamContenedor]="'bar_main--big'">
    <div class="contenedorDoble">
        <div class="contenedorDoble__card">
            <div class="title title--bold">Recuperación y Restauración</div>
            <div class="text">
                {{mucipioSelecionado[0].descripcion}}
                <div class="blackBox"
                    *ngIf="mucipioSelecionado && mucipioSelecionado.length > 0 && mucipioSelecionado[0].tablas && mucipioSelecionado[0].extraData">
                    <div class="blackBox__item" *ngFor="let item of mucipioSelecionado[0].extraData">
                        <div>{{ item.extradata }}</div>
                    </div>
                </div>
            </div>
            <button class="boton boton--azul" *ngIf="municipio !== 'Palos Blancos'" (click)="verFotos()">Ver
                Fotografías</button>
        </div>
        <div class="contenedorDoble__card">
            <div class="kit-brigada">
                <div class="tiuloCard tiuloCard__main">{{ mucipioSelecionado[0].tablas.tabla1.comunidad }}</div>
                <div class="tiuloCard">{{ mucipioSelecionado[0].tablas.tabla1.tipo }}</div>
                <div class="items-grid">
                    <div *ngFor="let item of mucipioSelecionado[0].tablas.tabla1.datosTabla" class="item">

                        <div class="name">
                            <div class="quantity">{{ item.Piezas }}</div>
                            {{ item.Equipo }}
                        </div>

                    </div>
                </div>
            </div>
            <div *ngIf="mucipioSelecionado && mucipioSelecionado.length > 0 && mucipioSelecionado[0].tablas && mucipioSelecionado[0].tablas.tabla2"
                class="kit-brigada">
                <div class="tiuloCard tiuloCard__main">{{ mucipioSelecionado[0].tablas.tabla2?.comunidad }}</div>
                <div class="tiuloCard">{{ mucipioSelecionado[0].tablas.tabla2?.tipo }}</div>
                <div class="items-grid">
                    <div *ngFor="let item of mucipioSelecionado[0].tablas.tabla2?.datosTabla" class="item">
                        <div class="name">
                            <div class="quantity">{{ item.Piezas }}</div>
                            {{ item.Equipo }}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="mucipioSelecionado && mucipioSelecionado.length > 0 && mucipioSelecionado[0].tablas && mucipioSelecionado[0].tablas.tabla3"
                class="kit-brigada">
                <div class="tiuloCard tiuloCard__main">{{ mucipioSelecionado[0].tablas.tabla3?.comunidad }}</div>
                <div class="tiuloCard">{{ mucipioSelecionado[0].tablas.tabla3?.tipo }}</div>
                <div class="items-grid">
                    <div *ngFor="let item of mucipioSelecionado[0].tablas.tabla3?.datosTabla" class="item">
                        <div class="name">
                            <div class="quantity">{{ item.Piezas }}</div>
                            {{ item.Equipo }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-card-generico>
<app-card-generico [Municipio]="municipio" *ngIf="mostrarPantalla3" [tamContenedor]="'bar_main--big'">
    <div class="title title--bold">Recuperación y Restauración</div>
    <div class="galeria_main">
        <div class="tiuloCard tiuloCard__main">FOTOGRAFIAS</div>
        <div class="gallery-container">
        <div class="foto-item" *ngFor="let image of mucipioSelecionado[0].fotografias">
            <img [src]="rutaBaseImagenes+mucipioSelecionado[0].municipio+'/'+image" alt="Imagen del municipio">
        </div>
    </div>
    </div>
</app-card-generico>