.card {
    color: white;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    top: 20%;


}

.bar_main {
    display: flex;
    position: fixed;
    left: 0;
    top: 15%;
    align-items: center;
    flex-direction: row;

    height: 60%;


    &--small {
        width: 320px;
    }

    &--big {
        width: 1000px;
    }
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #1F631CE5;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
}

.button {
    width: fit-content;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.platform-list {
    background-color: #272323E5;
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    padding: 10px;

}

.platform {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;

}

.text {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    display: flex;
    justify-content: center;

}

.btn-body {
    border-radius: 30px;
    background-color: #14438F;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-weight: bold;
}

.buttonRregresar {
    display: flex;
    flex-direction: row;
    background-color: #14438F;
    align-items: center;
    padding-right: 10px;
    border-radius: 70px;
    color: white;
    border: none;
}

.buttonCircle {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 50%;
    border: solid 2px white;
    color: white;
    margin-right: 5px;
    font-weight: bold;
    font-size: 22px;
    margin-left: -5px;
}

.botonesVolSig {
    display: flex;
    justify-content: space-between;

}

.btn {
    background-color: #14438F;
    color: white;
    border: solid #14438F 0px;

    &--sig {
        border-radius: 30px 0 0 30px;
        margin-right: -10px;
    }

    &--vol {
        border-radius: 0 30px 30px 0;
        margin-left: -10px;
    }
}

.title {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 5px;
    padding: 10px 30px;
    background-color: #161616;
    border-radius: 10px;

}

.content {
    text-align: justify;
}

.button_action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}



.btn_act {
    background-color: #272323;
    border: none;
    border-radius: 0 8px 8px 0;
    width: fit-content;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

mat-icon {
    color: white;
}

.diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    position: relative;
}

.node {
    background-color: #f0f0f0;
    padding: 2px 7px;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 100px;
    z-index: 1;
}

.node.inicio {
    background-color: #dddddd;
}

.node.small {
    min-width: 100px;
    font-size: 10px;
    padding: 2px 7px;
}

.row {
    display: flex;
    gap: 20px;
    position: relative;
}

.line {
    width: 2px;
    height: 20px;
    background-color: #00ff66;
    margin: 0 auto;
}

.text {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}