<div class="menu_bar">
    <ol class="icons_left">
        <li class="onlyIcons" (click)="verLocalizacion()">
            <mat-icon fontIcon="my_location"></mat-icon>
        </li>
        <li class="onlyIcons" (click)="alternarleftCard()">
            <mat-icon fontIcon="terminal"></mat-icon>
        </li>
        <li class="onlyIcons" (click)="refreshAll()">
            <mat-icon fontIcon="home"></mat-icon>
        </li>
    </ol>
    <ol class="icons_right">
        <li class="iconplustext" (click)="toggleDiagnostico('DIAGNOSTICO')"
            [ngClass]="{'activo': vistaActualActiva === 'diagnostico'}">
            <mat-icon fontIcon="monitor_heart"></mat-icon>
            <span>DIAGNÓSTICO</span>
        </li>
        <li class="iconplustext" (click)="mostrarRecu('RECUPERCIÓN')"
            [ngClass]="{'activo': vistaActualActiva === 'recuperacion'}">
            <mat-icon fontIcon="forest"></mat-icon>
            <span>RECUPERCIÓN Y RESTAURACIÓN</span>
        </li>
        <li class="iconplustext" (click)="mostrarAlternativas('ALTERNATIVAS')"
            [ngClass]="{'activo': vistaActualActiva === 'alternativas'}">
            <mat-icon fontIcon="alt_route"></mat-icon>
            <span>ALTERNATIVAS AL USO DE FUEGO</span>
        </li>
        <li class="iconplustext" (click)="mostrarConvenios()" [ngClass]="{'activo': vistaActualActiva === 'convenios'}">
            <mat-icon fontIcon="description"></mat-icon>
            <span>CONVENIOS</span>
        </li>
        <li class="iconplustext" (click)="mostrarTalleres()" [ngClass]="{'activo': vistaActualActiva === 'talleres'}">
            <mat-icon fontIcon="co_present"></mat-icon>
            <span>TALLERES</span>
        </li>
        <li class="iconplustext" (click)="mostrarManuales()" [ngClass]="{'activo': vistaActualActiva === 'manuales'}">
            <mat-icon fontIcon="book_2"></mat-icon>
            <span>MANUALES</span>
        </li>
    </ol>
</div>