
<div class="menu_bar">
    <ol class="icons_left">
        <li class="onlyIcons" (click)="verLocalizacion()">
            <mat-icon fontIcon="my_location"></mat-icon>
        </li>
        <li class="onlyIcons" (click)="alternarleftCard()">
            <mat-icon fontIcon="terminal"></mat-icon>
        </li>
        <li class="onlyIcons">
            <mat-icon fontIcon="home"></mat-icon>
        </li>
    </ol>
    <ol class="icons_right">
        <li class="iconplustext" (click)="toggleDiagnostico('DIAGNOSTICO')"  [class.activo]="mostrarDiagnostico">
            <mat-icon fontIcon="monitor_heart"></mat-icon>
            <span>DIAGNOSTICO</span>
        </li>
        <li class="iconplustext" (click)="mostrarRecu('RECUPERCIÓN')">
            <mat-icon fontIcon="forest"></mat-icon>
            <span>RECUPERCIÓN Y RESTAURACIÓN</span>
        </li>
        <li class="iconplustext" (click)="mostrarAlternativas('ALTERNATIVAS')">
            <mat-icon fontIcon="alt_route"></mat-icon>
            <span>ALTERNATIVAS AL USO DE FUEGO</span>
        </li>
        <li class="iconplustext">
            <mat-icon fontIcon="description"></mat-icon>
            <span>CONVENIOS</span>
        </li>
        <li class="iconplustext">
            <mat-icon fontIcon="co_present"></mat-icon>
            <span>TALLERES</span>
        </li>
        <li class="iconplustext">
            <mat-icon fontIcon="book_2"></mat-icon>
            <span>MANUALES</span>
        </li>
    </ol>
</div>
