.container-main {
    position: fixed;
    top: 8%;
    background-color: transparentize(#272323, 0.1);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}

.container {

    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
}

.title {
    background-color: #161616;
    top: 10%;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 30px;
    border: #C4371C solid 1px;
}

.card {
    width: 30%;
    max-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;

    &__header {
        text-align: center;
        height: 6%;
        background-color: #161616;
        border-radius: 10px 10px 0 0;

    }

    &__body {
        display: flex;
        justify-content: center;
        background-color: #094F1D;
        padding-top: 10px;
        padding-bottom: 1 0px;
        position: relative;

    }

    &__footer {
        background-color: #094F1D;
        display: flex;
        justify-content: flex-end;
        border-radius: 0 0 10px 10px;

    }

    &__body:hover{
         background-color: transparentize(#094F1D, 0.5);
    }
}

.card img {
    width: 50%;
    padding-bottom: 10px;
}

mat-icon {


    color: white;

    transform: rotate(-50deg);
    position: absolute;
    bottom: 0;
    right: 0;

}

.pdfContainer {
    position: fixed;
    top: 8%;
    background-color: transparentize(#272323, 0.1);
    width: 100%;
    height: 80%;

}

.botonRegresar {
    background-color: #14438F;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.botonRegresar:hover {
    color: #14438F;
    background-color: white;
}