<!-- <div class="container-main" *ngIf="mostrarManual">
    <div class="contendor_manuales">
        <div class="title">MANUALES</div>
        
        <div class="container">
            <div class="card" *ngFor="let manual of manuales" (click)="ShowManual(manual.archivo, manual.titulo)">
                <div class="card__header">
                    <h3 [innerHTML]="manual.tituloHtml"></h3>
                </div>
                <div class="card__body">
                    <img [src]="manual.imagen" [alt]="manual.alt">

                    <mat-icon fontIcon="arrow_downward"></mat-icon>
                </div>
            </div>
        </div>

    </div>
</div> -->
<div class="main-card" *ngIf="mostrarManual">
    <div class="main-card__header">
        <div class="titulo">MANUALES</div>
        <div class="button" (click)="onCerrarClick()"><button class="close-btn">×</button></div>
    </div>
    <div class="card-main">
        <div class="card" *ngFor="let card of manuales">

            <div class="card-content">
                <h2>{{ card.titulo }}</h2>

            </div>

            <div class="card-action">
                <img src="assets/imagenes/pdf-icon-png-2058.png" alt="PDF" class="pdf-icon" />
                <button *ngIf="!isMobile" (click)="ShowManual(card.archivo, card.titulo)">Ver Manual</button>
                <button *ngIf="isMobile" (click)="DownloadManual(card.archivo)">Descargar Manual</button>
            </div>
        </div>
    </div>

</div>
<div class="pdfContainer" *ngIf="!mostrarManual">
    <button class="botonRegresar" (click)="ShowManual('','')">Regresar</button>
    <app-pdf-viwer [direccion]="manual" [titulo]="titulo"></app-pdf-viwer>
</div>