<div class="container-main">
    <div class="title">MANUALES</div>
    <div class="container">
        <div class="card">
            <div class="card__header">
                <h3>ACCIONES<br>DE<br>RECUPERACIÓN</h3>
            </div>
            <div class="card__body">
                <img src="assets/imagenes/manualPreliminar.png" alt="Acciones de recuperación">
            </div>
            <div class="card__footer">
                <mat-icon fontIcon="arrow_downward"></mat-icon>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h3>ACCIONES<br>DE<br>RECUPERACIÓN</h3>
            </div>
            <div class="card__body">
                <img src="assets/imagenes/practicasAlternativas.png" alt="Prácticas alternativas al fuego">
            </div>
            <div class="card__footer">
                <mat-icon fontIcon="arrow_downward"></mat-icon>
            </div>
        </div>
        <div class="card">
            <div class="card__header">
                <h3>ACCIONES<br>DE<br>RECUPERACIÓN</h3>
            </div>
            <div class="card__body">
                <img src="assets/imagenes/evaluacionDanos.png" alt="Evaluación de daños">
            </div>
            <div class="card__footer">
                <div class="triangulo">
                    <mat-icon fontIcon="arrow_downward"></mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>