<div class="leyendaMain leyendaMain--small" *ngIf="!isMobile || mostrarLeyenda">
    <div class="leyendaMain__title">
        {{Municipio}}
    </div>
    <div class="leyendaMain__body">
        <div class="leyendaMain__leyenda">Leyenda</div>
        <div class="leyendaMain__content">
            <div *ngFor="let item of data.leyenda" class="items">
                <img *ngIf="item.img" [src]="item.img" alt="">
                <div class="items__texto">{{ item.texto }}</div>
            </div>
        </div>

    </div>
</div>

<div class="adicionaltexto">
    Las áreas de restauración es información de referencia que fueron identificadas durante los talleres participativos
    desarrollados en campo. Estas actividades permitieron recopilar información a través del diálogo directo con actores
    locales y técnicos especializados.
</div>
<button class="btn-flotante" *ngIf="isMobile" (click)="mostrarLeyenda = !mostrarLeyenda">
   i
</button>