<div class="bar_main">
    <div class="card" *ngIf="ExtenderBar">
        <div class="card-header">
            <button class="buttonRregresar" (click)="mostrarDiagnostico()">
                <span class="buttonCircle"> &lt;</span>
                Regresar
            </button>
            <div class="card-title">{{Municipio}}</div>
            <div class="button" (click)="onCerrarClick()"><button class="close-btn">×</button></div>
        </div>
        <div class="platform-list">
            <div class="botonesVolSig">
                <button class="btn btn--vol" (click)="prevStep()" [disabled]="currentStep === 0"
                    [style.visibility]="currentStep === 0 ? 'hidden' : 'visible'">Volver</button>
                <button class="btn btn--sig" (click)="nextStep()" [disabled]="currentStep === 3 - 1"
                    [style.visibility]="currentStep === 3 - 1 ? 'hidden' : 'visible'">Siguiente</button>
            </div>

            <div [ngSwitch]="currentStep" class="content">
                <div *ngSwitchCase="0">
                    <div class="metodologia">
                        <div class="title">Metodología</div>
                        Para llevar a cabo un análisis espacial de las áreas afectadas por los incendios, es fundamental
                        realizar un análisis multitemporal empleando imágenes satelitales Sentinel-2, pre y post
                        incendio. Este análisis permite detectar cambios en la cobertura del suelo y calcular índices
                        espectrales como el NBR o el dNBR (diferencia de NBR), los cuales son útiles para delimitar las
                        cicatrices de quemas y estimar la severidad del daño. Además, para identificar áreas con
                        potencial de restauración ecológica, es necesario integrar variables ambientales (como
                        pendiente, tipo de suelo, cobertura vegetal) y socioeconómicas (uso actual del suelo,
                        accesibilidad, tenencia de la tierra). Toda esta información debe ser procesada mediante
                        técnicas de análisis multicriterio, permitiendo una evaluación integral de las condiciones del
                        territorio.
                    </div>
                </div>
                <div *ngSwitchCase="1">
                    <img class="imagen1" src="assets/imagenes/diagrama.png" alt="">
                </div>
            </div>

        </div>
    </div>

    <div class="button_action">
        <button class="btn_act" (click)="extenderBar()">
            <mat-icon fontIcon="arrow_left" *ngIf="ExtenderBar"></mat-icon>
            <mat-icon fontIcon="arrow_right" *ngIf="!ExtenderBar"></mat-icon>
        </button>
    </div>

</div>