<div class="bar_main">
    <div class="card" *ngIf="ExtenderBar">
        <div class="card-header">
            <button class="buttonRregresar" (click)="mostrarDiagnostico()">
                <span class="buttonCircle"> &lt;</span>
                Regresar
            </button>
            <div class="card-title">{{Municipio}}</div>
            <div class="button" (click)="onCerrarClick()"><button class="close-btn">×</button></div>
        </div>
        <div class="platform-list">
            <div [ngSwitch]="currentStep" class="content">
                <div *ngSwitchCase="0">
                    <div class="title-2 title-2--black">Actividades</div>
                    <img src="assets/imagenes/diagramaVerdiagnostico.png">
                </div>
                <div *ngSwitchCase="1">
                    <div class="dobleCard">
                        <div class="firstCard firstCard--normal">
                            <div class="title-2 title-2--black">Preparación</div>
                            El municipio de San Buenaventura se encuentra ubicado al norte del departamento de La Paz y
                            pertenece a la provincia Abel Iturralde. El municipio de San Buenaventura colinda al norte y
                            oeste con el municipio de Ixiamas, departamento de La Paz, al este con el municipio de
                            Rurrenabaque y al nor este con el municipio de Reyes, ambos del departamento del Beni; al
                            sur y oeste con el municipio de Apolo del departamento de La Paz. El 17 de septiembre del
                            2023 se inicia el primer incendio, a nivel urbano, en la zona de Cotoca, siendo atendido con
                            los recursos del GAM, el apoyo de guardaparques, efectivos de la Base Naval Ballivián,
                            bomberos voluntarios y la colaboración de la población en general. Con el paso de los días,
                            los incendios se intensificaron, afectando a los tres distritos del municipio: Distrito I
                            (San Buenaventura), Distrito II (Tumupasa) y Distrito III (San José de Uchupiamonas), junto
                            a sus comunidades. Se registraron pérdidas totales o parciales en cultivos de cítricos,
                            maíz, arroz, yuca, plátano, copoazú, papaya, cacao y caña de azúcar. La quema de pastizales
                            redujo drásticamente la disponibilidad de alimento para el ganado, causando su
                            debilitamiento. Además, la disminución del caudal de los ríos afectó directamente las
                            actividades agrícolas y ganaderas.
                        </div>
                        <div class="secondCard secondCard--normal">
                            <div class="title-2 title-2--green">Mapeo de Apoyos y Proyectos similares pasados o actuales
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Institución</th>
                                        <th>Temáticas</th>
                                        <th>Comunidades</th>
                                        <th>Temporalidad de la intervención</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Practical Action</td>
                                        <td>
                                            <ul>
                                                <li>Programa de Resiliencia Climática</li>
                                                <li>Recuperación post incendios</li>
                                                <li>Rehabilitación de sistemas de agua y recuperación de medios de vida
                                                    post incendios</li>
                                            </ul>
                                        </td>
                                        <td>San Miguel, Capaina, Tres Hermanos, Villa Alcira, Bella Altura, Altamarani,
                                            Buena Vista, Tumpasa, San Antonio, San Silvestre</td>
                                        <td>Nov 2024 – Dic 2027</td>
                                    </tr>
                                    <tr>
                                        <td>Fundación Natura</td>
                                        <td>
                                            <ul>
                                                <li>Acuerdos de Conservación</li>
                                                <li>Protección de fuentes de agua</li>
                                                <li>Reforestación</li>
                                            </ul>
                                        </td>
                                        <td>Toma de agua "Agua dulce", Altamarani</td>
                                        <td>Nov 2024 – Dic 2026</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="2">
                    <div class="dobleCard">
                        <div class="firstCard firstCard--big">
                            <div class="title-2 title-2--green">Mapeo de Actores</div>
                            <app-table [jsonUrl]="json"></app-table>
                        </div>
                        <div class="secondCard secondCard--small">
                            <div class="title-2 title-2--green">Lecciones Aprendidas</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="botonesVolSig">
                <button class="btn btn--vol" (click)="prevStep()" [disabled]="currentStep === 0">Volver</button>
                <button class="btn btn--sig" (click)="nextStep()" [disabled]="currentStep === 4 - 1">Siguiente</button>
            </div>
        </div>
    </div>

    <div class="button_action">
        <button class="btn_act" (click)="extenderBar()">
            <mat-icon fontIcon="arrow_left" *ngIf="ExtenderBar"></mat-icon>
            <mat-icon fontIcon="arrow_right" *ngIf="!ExtenderBar"></mat-icon>
        </button>
    </div>

</div>