<div class="bar_main">
    <div class="card" *ngIf="ExtenderBar">
        <div class="card-header">
            <button class="buttonRregresar" (click)="mostrarDiagnostico()">
                <span class="buttonCircle"> &lt;</span>
                Regresar
            </button>
            <div class="card-title">{{Municipio}}</div>
            <div class="button" (click)="onCerrarClick()"><button class="close-btn">×</button></div>
        </div>
        <div class="platform-list">
            <div [ngSwitch]="currentStep" class="content">
                <div *ngSwitchCase="0">
                    <div class="Actividades">
                        <div class="title-2 title-2--black">Actividades</div>
                        <img src="assets/imagenes/diagramaVerdiagnostico.png">
                    </div>
                </div>
                <div *ngSwitchCase="1">
                    <div class="dobleCard">
                        <div class="firstCard firstCard--normal">
                            <div class="title-2 title-2--black">Preparación</div>
                            <app-text [data]="preparacion"></app-text>
                        </div>
                        <div class="secondCard secondCard--normal">
                            <div class="title-2 title-2--green">Mapeo de Apoyos y Proyectos similares pasados o actuales
                            </div>
                            <app-table [jsonUrl]="apoyoProy"></app-table>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="2">
                    <div class="dobleCard">
                        <div class="firstCard firstCard--big">
                            <div class="title-2 title-2--greenV2">Mapeo de Actores</div>
                            <app-table [jsonUrl]="actores"></app-table>
                        </div>
                        <div class="secondCard secondCard--small">
                            <div class="title-2 title-2--greenV2">Lecciones Aprendidas</div>
                            <app-genericlist [jsonPath]="leccionesAprendidas"></app-genericlist>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="3">
                    <div class="dobleCard">
                        <div class="firstCard firstCard--small">
                            <div class="title-2 title-2--black">Análisis Situacional</div>
                            <div class="lista-contenedor">
                                <div class="item">
                                    <div class="numero-circulo">1</div>
                                    <div class="texto">Recolección de información primaria y secundaria por medio de
                                        diálogos, mapas parlantes, entrevistas.</div>
                                </div>
                                <div class="item">
                                    <div class="numero-circulo">2</div>
                                    <div class="texto">Análisis de información con el método de Telaraña de Bersntein
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="secondCard secondCard--big">
                            <img src="assets/imagenes/analisisSituacional.png">
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="4"><!-- ////////////////////////////////////////////////////////////////////// -->
                    <div class="contenedor-principal">
                        <div class="encabezado-verde">
                            <div class="numero-circulo-encabezado">1</div>
                            <div class="texto-encabezado">Recolección de Información</div>
                        </div>
                    </div>
                    <div class="contenedorSwitch4">
                        <div class="item-con-icono">
                            <div class="icono-contenedor">
                                <img src="assets/imagenes/MIF.png" alt="Icono Fuego" class="icono-fuego">
                            </div>
                            <div class="texto-item">
                                Institucionalización del Manejo<br>Integral del Fuego (MIF)
                            </div>
                        </div>
                        <div class="dobleCard">
                            <div class="firstCard firstCard--normal">
                                <app-text [data]="recoleccionInsMif"></app-text>
                            </div>
                            <div class="secondCard secondCard--normal">
                                <app-text [data]="recoleccionLocMif"></app-text>
                            </div>
                        </div>
                    </div>
                    <div class="contenedorSwitch4">
                        <div class="item-con-icono">
                            <div class="icono-contenedor">
                                <img src="assets/imagenes/reduccion.png" alt="Icono Fuego" class="icono-fuego">
                            </div>
                            <div class="texto-item">
                                Reducción de riesgos a través de la <br>prevención y control de incendios forestales
                            </div>
                        </div>
                        <div class="dobleCard">
                            <div class="firstCard firstCard--normal">
                                <app-text [data]="recoleccionInsRed"></app-text>
                            </div>
                            <div class="secondCard secondCard--normal">
                                <app-text [data]="recoleccionLocRed"></app-text>
                            </div>
                        </div>
                    </div>
                    <div class="contenedorSwitch4">
                        <div class="item-con-icono">
                            <div class="icono-contenedor">
                                <img src="assets/imagenes/atencion.jpg" alt="Icono Fuego" class="icono-fuego">
                            </div>
                            <div class="texto-item">
                                Atención de desastres y/o emergencias a través de la <br>preparación, alerta, respuesta
                                y rehabilitación
                            </div>
                        </div>
                        <div class="dobleCard">
                            <div class="firstCard firstCard--normal">
                                <app-text [data]="recoleccionInsAtn"></app-text>
                            </div>
                            <div class="secondCard secondCard--normal">
                                <app-text [data]="recoleccionLocAtn"></app-text>
                            </div>
                        </div>
                    </div>
                    <div class="contenedorSwitch4">
                        <div class="item-con-icono">
                            <div class="icono-contenedor">
                                <img src="assets/imagenes/promocion.jpg" alt="Icono Fuego" class="icono-fuego">
                            </div>
                            <div class="texto-item">
                                Promoción de Alternativas al uso del fuego en las prácticas<br> agropecuarias a través
                                de parcelas demostrativas
                            </div>
                        </div>
                        <div class="dobleCard">
                            <div class="firstCard firstCard--normal">
                                <app-text [data]="recoleccionInsPro"></app-text>
                            </div>
                            <div class="secondCard secondCard--normal">
                                <app-text [data]="recoleccionLocPro"></app-text>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="5">
                    <div class="dobleCard">
                        <div class="firstCard firstCard--small">
                            <div class="contenedor-principal">
                                <div class="encabezado-verde">
                                    <div class="numero-circulo-encabezado">2</div>
                                    <div class="texto-encabezado">Análisis de Información</div>
                                </div>
                                <div class="AnalisiInformacio">
                                    En base a la información que se recopila respecto a los cuatro (4) componentes de la
                                    EPMIF, se puede identificar indicadores y co-indicadores relevantes asignando una
                                    ponderación de valoración, en el marco del método de “Telaraña de Bersnstein”, el
                                    cual, es un procedimiento que permite visualizar las condiciones de los municipios y
                                    actores locales en relación a una “situación ideal”
                                </div>
                            </div>
                        </div>
                        <div class="secondCard secondCard--big">
                            <div class="AnalisiInformacio">
                                <img src="assets/imagenes/telarana.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="botonesVolSig">
            <button class="btn btn--vol" (click)="prevStep()" [disabled]="currentStep === 0"
                [style.visibility]="currentStep === 0 ? 'hidden' : 'visible'">Volver</button>
            <button class="btn btn--sig" (click)="nextStep()" [disabled]="currentStep === 6 - 1"
                [style.visibility]="currentStep === 6 - 1 ? 'hidden' : 'visible'">Siguiente</button>
        </div>
    </div>

    <!-- <div class="button_action">
        <button class="btn_act" (click)="extenderBar()">
            <mat-icon fontIcon="arrow_left" *ngIf="ExtenderBar"></mat-icon>
            <mat-icon fontIcon="arrow_right" *ngIf="!ExtenderBar"></mat-icon>
        </button>
    </div> -->

</div>