.tres-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 8%;

    z-index: 999;
    width: 100%;
}

.button-top-bar {
width: 9%;
    min-height: 60px;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;

    &--black {
        background-color: transparentize(#272323, 0.1);
    }


}

.button-top-bar:hover {
    background-color: #1F631C;
    color: white;
}
