<div class="container-main">
    <div class="primeraPantallaTalleres" *ngIf="primerapantalla">
        <div class="topTimeLine">
            <div class="timeLineContent">
                <div class="taller-container">
                    <div class="cicleandBar">
                        <div class="timeline-circle timeline-circle--orange"></div>
                        <div class="timeline-line timeline-line--orange"></div>
                    </div>
                    <div>
                        <div class="title title--orange">Taller 1</div>
                        <div class="date">10 Octubre 2024</div>
                        <div class="imgTex">
                            <img class="imgTimeline" src="assets/logos/bicentenario_vertical.png">
                            <div class="description">
                                Identificación y contacto con actores clave.
                                Entrevistas y reuniones de presentaciones temáticas.
                                Relevamiento de información primaria y secundaria.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bar bar--orange"></div>
            </div>
            <div class="timeLineContent timeLineContent--mid">
                <div class="bar bar--red"></div>
                <div class="taller-container">
                    <div class="cicleandBar">
                        <div class="timeline-line timeline-line--red"></div>
                        <div class="timeline-circle timeline-circle--red"></div>

                    </div>
                    <div>
                        <div class="title title--red">Taller 2</div>
                        <div class="date">13-24 Enero 2025</div>
                        <div class="imgTex">
                            <img class="imgTimeline" src="assets/logos/bicentenario_vertical.png">
                            <div class="description">
                                Documentar los procesos, acuerdos y lecciones aprendidas en las mesas de trabajo
                                realizadas con el fin de establecer criterios técnicos y definir áreas priorizadas para
                                la recuperación y restauración post-incendios forestales en el norte de La Paz, Beni y
                                valles de Cochabamba, a través de la participación de actores locales, técnicos de las
                                áreas protegidas y técnicos municipales; fomentando un proceso colaborativo e inclusivo,
                                abordando el enfoque de género e inclusión social, para desarrollar una visión a largo
                                plazo para la restauración de ecosistemas diversos.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="timeLineContent">
                <div class="taller-container">
                    <div class="cicleandBar">
                        <div class="timeline-circle timeline-circle--other"></div>
                        <div class="timeline-line timeline-line--other"></div>
                    </div>
                    <div>
                        <div class="title title--other">Taller 3</div>
                        <div class="date">26 Febrero 2025</div>
                        <div class="imgTex">
                            <img class="imgTimeline" src="assets/logos/bicentenario_vertical.png">
                            <div class="description">
                                Presentar los resultados de un proceso esencial de diagnostico e identificación de
                                acciones de recuperación y practicas alternativas al uso de fuego en áreas afectadas por
                                incendios forestales
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bar bar--other"></div>
            </div>
            <button class="btnPrimeraPantalla" (click)="botonVermas()">Ver Mas</button>
        </div>
    </div>
    <div class="segundaPantallaTalleres" *ngIf="segundapantalla">
        <div class="NumeroTaller">TALLER 2</div>
        <div class="btnDepto">
            <button class="btnDepto__1" [ngClass]="{'active': lapaz}" (click)="verDeptbtn('La Paz')">La
                Paz</button>
            <button class="btnDepto__1" [ngClass]="{'active': cocha}" (click)="verDeptbtn('Cocha')">Cochabamba</button>
            <button class="btnDepto__1" [ngClass]="{'active': beni}" (click)="verDeptbtn('Beni')">Beni</button>
        </div>
        <div class="btnMuni">
            <div class="btnMuni2">
                <div class="btnMuni__1" [ngClass]="{'active': pb}" *ngIf="lapaz">Palos
                    Blancos</div>
                <div class="btnMuni__1" [ngClass]="{'active': sb}" *ngIf="lapaz">San
                    Buenaventura</div>
                <div class="btnMuni__1" [ngClass]="{'active': ru}" *ngIf="beni">
                    Rurrenabaque</div>
                <div class="btnMuni__1" [ngClass]="{'active': sbor}" *ngIf="beni">San Borja
                </div>
                <div class="btnMuni__1" [ngClass]="{'active': tiq}" *ngIf="cocha">Tiquipaya
                </div>
                <div class="btnMuni__1" [ngClass]="{'active': vi}" *ngIf="cocha">Vinto
                </div>
            </div>
        </div>
        <div class="doublecard">
            <div class="tallerCardleft tallerCardleft--normal">
                <div class="tallerCardleft__body">
                    <div class="tallerCardleft__title">Desarrollo de las Mesas Técnicas Participativas</div>
                    <div class="content">Durante el desarrollo de la mesa de trabajo en el municipio de Rurrenabaque, se
                        contó con la participación de representantes de comunidades indígenas, técnicos del municipio,
                        representantes de Defensa Civil y representantes del Área Protegida Pilón Laja, siendo esta mesa
                        un espacio importante para la socialización y validación de los criterios técnicos y
                        socioambientales identificados, así como para el intercambio de conocimientos y perspectivas
                        sobre las áreas afectadas por incendios forestales. Además, permitió identificar las principales
                        necesidades y definir acciones estratégicas para la restauración y recuperación de las áreas
                        afectadas.
                    </div>
                    <div class="btncardleft">
                        <button class="btncardleft__btn" (click)="verParticipantes()">Ver Participantes</button>
                        <button class="btncardleft__btn" (click)="verDesarrollo()">Ver el Desarrollo de la mesa de
                            trabajo</button>
                    </div>

                </div>
                <div class="tallerCardleft__footer">
                    <div class="localization">
                        <mat-icon fontIcon="my_location"></mat-icon>
                        <div class="textFooter">
                            <div class="title_card">Localización</div>
                            Beni - Rurrenabaque
                            <div>
                                Auditorio del Gobierno Autónomo Municipal de Rurrenabaque
                            </div>
                        </div>
                    </div>
                    <div class="localization">
                        <mat-icon fontIcon="calendar_month"></mat-icon>
                        <div class="textFooter">
                            <div class="title_card">Fecha</div>
                            16 Enero de 2025
                        </div>
                    </div>
                </div>
            </div>
            <div class="tallerCardright">
                <div class="title">Galería de Imágenes</div>
                <div class="tallerCardright__body">
                    <div class="cont_img">
                        <img src="assets/logos/bicentenario_vertical.png" alt="">
                        Reunión 16 Enero 2025
                    </div>
                    <div class="cont_img">
                        <img src="assets/logos/bicentenario_vertical.png" alt="">
                        Reunión 16 Enero 2025
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="terceraPantallaTalleres-Participantes" *ngIf="tecerapantalla_participantes">
        <div class="tallerCardleft tallerCardleft--big">
            <div class="tallerCardleft__body">
                <div class="tallerCardleft__participantes">
                    <button class="tallerCardleft__butonHeader" (click)="verParticipantes()">Regresar</button>
                    <div class="tallerCardleft__title">Participantes</div>
                    <mat-icon class="tallerCardleft__icon" fontIcon="groups"></mat-icon>
                </div>

                <div class="main-container">

                </div>
            </div>
            <div class="tallerCardleft__footer">
                <div class="localization">
                    <mat-icon fontIcon="my_location"></mat-icon>
                    <div class="textFooter">
                        <div class="title_card">Localización</div>
                        Beni - Rurrenabaque
                        <div>
                            Auditorio del Gobierno Autónomo Municipal de Rurrenabaque
                        </div>
                    </div>
                </div>
                <div class="localization">
                    <mat-icon fontIcon="calendar_month"></mat-icon>
                    <div class="textFooter">
                        <div class="title_card">Fecha</div>
                        16 Enero de 2025
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="terceraPantallaTalleres-Desarrollo" *ngIf="tecerapantalla_desarrollo">
        <div class="tallerCardleft tallerCardleft--xbig">
            <div class="tallerCardleft__desarrollo">
                <div class="buttonContent">
                    <button class="tallerCardleft__butonHeader" (click)="verDesarrollo()">Regresar</button>
                    <button class="buttonContent__desarrollo">1. Definición de criterios técnicos y
                        socioambientales</button>
                    <button class="buttonContent__desarrollo">2. Identificar y priorizar áreas para la
                        restauración</button>
                    <button class="buttonContent__desarrollo">3. Identificar acciones de restauración y/o recuperación y
                        principales necesidades</button>
                    <button class="buttonContent__desarrollo">4. Identificación de las fortalezas, limitaciones,
                        oportunidades,
                        amenazas, prioridades
                        identificadas</button>
                    <button class="buttonContent__desarrollo">5. Elaboración del acta de acuerdos y validación</button>
                </div>
                <div class="desarrollo">
                    <div class="desarrollo__title">Desarrollo de la mesa de Trabajo</div>
                    <div class="desarrollo__content">
                        <div>Se realizó la presentación de la metodología de construcción de criterios técnicos y
                            socio-ambientales, donde se explicó las variables seleccionadas:</div>
                        <div class="desarrollo__contentIcos">
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                Densidad Poblacional
                                <img src="assets/imagenes/iconos/icon1.png" alt="">
                            </div>
                        </div>
                        <div>En base al análisis de los criterios técnicos y socioambientales, los participantes
                            consideraron de importancia alta incorporar un criterio adicional, siendo este la
                            identificación de los Ojos de agua o toma de agua, consideradas como áreas de alto valor de
                            conservación.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>