<div class="container-main">
    <div class="primeraPantallaTalleres" *ngIf="primerapantalla">
        <div class="topTimeLine">
            <div class="timeLineContent timeLineContent__1" (click)="botonVertaller('TALLER 1')">
                <div class="taller-container">
                    <div class="cicleandBar">
                        <div class="timeline-circle timeline-circle--orange"></div>
                        <div class="timeline-line timeline-line--orange"></div>
                    </div>
                    <div class="talleres">
                        <div class="title title--orange">Taller 1</div>
                        <div class="date">10 Octubre 2024</div>
                        <div class="imgTex">
                            <img class="imgTimeline" src="assets/imagenes/Talleres/timeline/2.png">
                            <div class="description">
                                Identificación y contacto con actores clave.
                                Entrevistas y reuniones de presentaciones temáticas.
                                Relevamiento de información primaria y secundaria.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bar bar--orange"></div>
            </div>
            <div class="timeLineContent timeLineContent__3" (click)="botonVertaller('TALLER 2')">
                <div class="bar bar--red"></div>
                <div class="taller-container">
                    <div class="cicleandBar">
                        <div class="timeline-line timeline-line--red"></div>
                        <div class="timeline-circle timeline-circle--red"></div>

                    </div>
                    <div class="talleres">
                        <div class="title title--red">Taller 2</div>
                        <div class="date">13-24 Enero 2025</div>
                        <div class="imgTex">
                            <img class="imgTimeline" src="assets/imagenes/Talleres/timeline/3.png">
                            <div class="description">
                                Documentar los procesos, acuerdos y lecciones aprendidas en las mesas de trabajo
                                realizadas con el fin de establecer criterios técnicos y definir áreas priorizadas para
                                la recuperación y restauración post-incendios forestales en el norte de La Paz, Beni y
                                valles de Cochabamba, a través de la participación de actores locales, técnicos de las
                                áreas protegidas y técnicos municipales; fomentando un proceso colaborativo e inclusivo,
                                abordando el enfoque de género e inclusión social, para desarrollar una visión a largo
                                plazo para la restauración de ecosistemas diversos.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="timeLineContent timeLineContent__2" (click)="botonVertaller('TALLER 3')">
                <div class="taller-container">
                    <div class="cicleandBar">
                        <div class="timeline-circle timeline-circle--other"></div>
                        <div class="timeline-line timeline-line--other"></div>
                    </div>
                    <div class="talleres">
                        <div class="title title--other">Taller 3</div>
                        <div class="date">26 Febrero 2025</div>
                        <div class="imgTex">
                            <img class="imgTimeline" src="assets/imagenes/Talleres/timeline/4.png">
                            <div class="description">
                                Presentar los resultados de un proceso esencial de diagnostico e identificación de
                                acciones de recuperación y practicas alternativas al uso de fuego en áreas afectadas por
                                incendios forestales
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bar bar--other"></div>
            </div>
            <div class="timeLineContent timeLineContent__4" (click)="botonVertaller('TALLER 4')">
                <div class="bar bar--green"></div>
                <div class="taller-container">
                    <div class="cicleandBar">
                        <div class="timeline-line timeline-line--green"></div>
                        <div class="timeline-circle timeline-circle--green"></div>
                    </div>
                    <div class="talleres talleres--special">
                        <div class="title title--green">Taller 4</div>
                        <div class="imgTex">
                            <img class="imgTimeline" src="assets/imagenes/Talleres/timeline/5.png">
                            <div class="description">
                                Talleres realizados en múltiples fechas los cuales fueron efectuados en diferentes
                                Municipios, ya sea con un fin educativo Teórico o Practico.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- <button class="btnPrimeraPantalla"></button> -->
    </div>
    <div class="segundaPantallaTalleres" *ngIf="taller2">
        <div class="NumeroTaller">{{Numerotaller}}</div>
        <div class="btnDepto" *ngIf="Numerotaller!='TALLER 3'">
            <button class="btnDepto__1" [ngClass]="{'active': regionSeleccionada?.nombre === region.nombre }"
                *ngFor="let region of regiones" (click)="seleccionarRegion(region,Numerotaller)">
                {{ region.nombre }}
            </button>
        </div>
        <div class="btnMuni" *ngIf="Numerotaller!='TALLER 3'">
            <div class="btnMuni2">
                <div class="btnMuni__1" [ngClass]="{'active': municipioSeleccionado?.nombre === municipio.nombre }"
                    *ngFor="let municipio of regionSeleccionada!.municipios"
                    (click)="seleccionarMunicipio(municipio,Numerotaller) ">
                    {{ municipio.nombre }}
                </div>
            </div>
        </div>
        <div class="btnMuni" *ngIf="Numerotaller=='TALLER 3'"></div>
        <div class="btnDepto" *ngIf="Numerotaller=='TALLER 3'"></div>
        <div class="doublecard">
            <div class="tallerCardleft tallerCardleft--normal">
                <div class="tallerCardleft__body">
                    <div class="tallerCardleft__title" *ngIf="Numerotaller==='TALLER 2'">Desarrollo de las Mesas
                        Técnicas Participativas</div>
                    <div class="tallerCardleft__title" *ngIf="Numerotaller==='TALLER 1'">Desarrollo del Taller de
                        Arranque</div>
                    <div class="tallerCardleft__title" *ngIf="Numerotaller==='TALLER 4'">
                        {{datosMunicipioSelecionado.Titulo}}</div>
                    <div class="tallerCardleft__title" *ngIf="Numerotaller==='TALLER 3'">
                        {{datosMunicipioSelecionado.Titulo}}</div>
                    <div class="content" *ngIf="Numerotaller==='TALLER 2'">
                        {{datosMunicipioSelecionado[0]?.Intro}}
                    </div>
                    <div class="content" *ngIf="Numerotaller==='TALLER 1'">
                        La Autoridad Plurinacional de la Madre Tierra (APMT), en coordinación con el Ministerio de Medio
                        Ambiente y Agua (MMAyA), programó la presentación del Servicio de apoyo – Fortalecimiento
                        técnico e institucional para el diseño e implementación de acciones de recuperación/restauración
                        en áreas afectadas por incendios y de prácticas alternativas al uso de fuego a través de
                        sistemas productivos sustentables, en acompañamiento a la Autoridad Plurinacional de la Madre
                        Tierra (APMT). Esta iniciativa tiene como parte el municipio de Palos Blancos del departamento
                        de La Paz. En este marco, la APMT realizó una reunión de arranque para presentar formalmente la
                        iniciativa y coordinar la implementación de las acciones previstas en el territorio. La
                        Autoridad Plurinacional de la Madre Tierra (APMT), en coordinación con el Ministerio de Medio
                        Ambiente y Agua (MMAyA), programó la presentación del Servicio de apoyo – Fortalecimiento
                        técnico e institucional para el diseño e implementación de acciones de recuperación/restauración
                        en áreas afectadas por incendios y de prácticas alternativas al uso de fuego a través de
                        sistemas productivos sustentables, en acompañamiento a la Autoridad Plurinacional de la Madre
                        Tierra (APMT). Esta iniciativa tiene como parte el municipio de
                        {{municipioSeleccionado?.nombre}} del departamento
                        de {{regionSeleccionada?.nombre}}. En este marco, la APMT realizó una reunión de arranque para
                        presentar formalmente la
                        iniciativa y coordinar la implementación de las acciones previstas en el territorio.
                    </div>
                    <div class="content" *ngIf="Numerotaller==='TALLER 4'">
                        {{datosMunicipioSelecionado.Contenido}}
                    </div>
                    <div class="content" *ngIf="Numerotaller==='TALLER 3'">
                        {{datosMunicipioSelecionado.Contenido}}
                    </div>
                    <div class="btncardleft" *ngIf="Numerotaller!='TALLER 1'&&Numerotaller!='TALLER 4'">
                        <button class="btncardleft__btn" (click)="verParticipantes()">Ver Participantes</button>
                        <button class="btncardleft__btn" (click)="verDesarrollo()">Ver el Desarrollo de la mesa de
                            trabajo</button>
                    </div>
                    <div class="btncardleft" *ngIf="Numerotaller=='TALLER 4'">
                        <button class="btncardleft__btn" *ngIf="municipioSeleccionado?.nombre=='Rurrenabaque'"
                            (click)="vergaleriaPracticos('practico')">Ver Fotos Taller Teorico</button>
                        <button class="btncardleft__btn" *ngIf="municipioSeleccionado?.nombre=='Rurrenabaque'"
                            (click)="vergaleriaPracticos('teorico')">Ver Fotos Taller Practico</button>
                    </div>
                </div>
                <div class="tallerCardleft__footer">
                    <div class="localization">
                        <mat-icon fontIcon="my_location"></mat-icon>
                        <div class="textFooter">
                            <div class="title_card">Localización</div>
                            {{regionSeleccionada?.nombre}} - {{municipioSeleccionado?.nombre}}
                            <div *ngIf="Numerotaller=='TALLER 2'">
                                {{datosMunicipioSelecionado[6]?.Lugar}}
                            </div>
                        </div>
                    </div>
                    <div class="localization"*ngIf="Numerotaller!='TALLER 1'">
                        <mat-icon fontIcon="calendar_month" ></mat-icon>
                        <div class="textFooter" *ngIf="Numerotaller==='TALLER 2'">
                            <div class="title_card">Fecha</div>
                            {{datosMunicipioSelecionado[6]?.Fecha}}
                        </div>
                        <div class="textFooter" *ngIf="Numerotaller==='TALLER 4'">
                            <div class="title_card">Fecha</div>
                            {{datosMunicipioSelecionado.Fecha}}
                        </div>
                        <div class="textFooter" *ngIf="Numerotaller==='TALLER 3'">
                            <div class="title_card">Fecha</div>
                            {{datosMunicipioSelecionado.Fecha}}
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="tallerCardright" *ngIf="municipioSeleccionado?.nombre!='Rurrenabaque' &&Numerotaller!='TALLER 4' "> -->
            <div class="tallerCardright" *ngIf="Numerotaller!='TALLER 3' && Numerotaller!='TALLER 4'">
                <div class="title">Galería de Imágenes {{Numerotaller}}</div>
                <div class="tallerCardright__body">
                    <div class="cont_img">
                        <img src="assets/imagenes/Talleres/{{Numerotaller}}/{{municipioSeleccionado?.nombre}}/1.png">
                        <div *ngIf="Numerotaller==='TALLER 2'"> {{datosMunicipioSelecionado[6]?.Fecha}}</div>
                    </div>
                    <div class="cont_img">
                        <img src="assets/imagenes/Talleres/{{Numerotaller}}/{{municipioSeleccionado?.nombre}}/2.png">
                        <div *ngIf="Numerotaller==='TALLER 2'"> {{datosMunicipioSelecionado[6]?.Fecha}}</div>

                    </div>
                </div>

            </div>
            <div class="tallerCardright" *ngIf="Numerotaller=='TALLER 3'">
                <div class="title">Galería de Imágenes {{Numerotaller}}</div>
                <div class="tallerCardright__body">
                    <div class="cont_img">
                        <img src="assets/imagenes/Talleres/{{Numerotaller}}/1.png">
                    </div>
                    <div class="cont_img">
                        <img src="assets/imagenes/Talleres/{{Numerotaller}}/2.png">
                    </div>
                </div>
            </div>
            <div class="tallerCardright"
                *ngIf="municipioSeleccionado?.nombre != 'Rurrenabaque' && Numerotaller == 'TALLER 4'">
                <div class="title">Galería de Imágenes {{municipioSeleccionado?.nombre}}</div>
                <div class="tallerCardright__body">
                    <div class="cont_img">
                        <img src="assets/imagenes/Talleres/{{Numerotaller}}/{{municipioSeleccionado?.nombre}}/2.png">
                    </div>
                    <div class="cont_img">
                        <img src="assets/imagenes/Talleres/{{Numerotaller}}/{{municipioSeleccionado?.nombre}}/2.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="terceraPantallaTalleres-Participantes" *ngIf="tecerapantalla_participantes">
        <div class="Bigtitle">{{municipioSeleccionado?.nombre}}</div>
        <div class="tallerCardleft tallerCardleft--big">

            <div class="tallerCardleft__body">
                <div class="tallerCardleft__participantes">
                    <button class="tallerCardleft__butonHeader" (click)="verParticipantes()">Regresar</button>
                    <div class="tallerCardleft__title">Participantes</div>
                    <mat-icon class="tallerCardleft__icon" fontIcon="groups"></mat-icon>
                </div>
                <div class="participantesContainer" *ngIf="Numerotaller==='TALLER 2'">
                    <div class="participantesContainer__obj"
                        *ngFor="let participante of datosMunicipioSelecionado[6].Participantes; let i = index"
                        [ngClass]="'color-' + i">
                        {{participante}}
                    </div>
                </div>
                <div class="participantesContainerTaller3" *ngIf="Numerotaller==='TALLER 3'">
                    <div class="participantesContainerTaller3__obj"
                        *ngFor="let participante of datosMunicipioSelecionado.Participantes; let i = index">
                        {{participante}}
                    </div>
                </div>
            </div>
            <div class="tallerCardleft__footer">
                <div class="localization">
                    <mat-icon fontIcon="my_location"></mat-icon>
                    <div class="textFooter">
                        <div class="title_card">Localización</div>
                        {{regionSeleccionada?.nombre}} - {{municipioSeleccionado?.nombre}}
                        <div *ngIf="Numerotaller==='TALLER 2'">
                            {{datosMunicipioSelecionado[6].Lugar}}
                        </div>
                    </div>
                </div>
                <div class="localization">
                    <mat-icon fontIcon="calendar_month"></mat-icon>
                    <div class="textFooter" *ngIf="Numerotaller==='TALLER 2'">
                        <div class="title_card">Fecha</div>
                        {{datosMunicipioSelecionado[6].Fecha}}
                    </div>
                    <div class="textFooter" *ngIf="Numerotaller==='TALLER 3'">
                        <div class="title_card">Fecha</div>
                        {{datosMunicipioSelecionado.Fecha}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="terceraPantallaTalleres-Desarrollo" *ngIf="tecerapantalla_desarrollo">
        <div class="Bigtitle">{{municipioSeleccionado?.nombre}}</div>
        <div class="tallerCardleft tallerCardleft--xbig">
            <div class="tallerCardleft__desarrollo">
                <div class="buttonContent" *ngIf="Numerotaller==='TALLER 2'">
                    <button class="tallerCardleft__butonHeader" (click)="verDesarrollo()">Regresar</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(1)"
                        [class.active]="activeButton === 1">1. Definición de criterios técnicos y
                        socioambientales</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(2)"
                        [class.active]="activeButton === 2">2. Identificar y priorizar áreas para la
                        restauración</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(3)"
                        [class.active]="activeButton === 3">3. Identificar acciones de restauración y/o recuperación y
                        principales necesidades</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(4)"
                        [class.active]="activeButton === 4">4. Identificación de las fortalezas, limitaciones,
                        oportunidades,
                        amenazas, prioridades
                        identificadas</button>
                    <button class="buttonContent__desarrollo" [class.active]="activeButton === 5"
                        (click)="botonActivomenu(5)" [class.active]="activeButton === 5">5. Elaboración del acta de
                        acuerdos y validación</button>
                </div>
                <div class="buttonContent" *ngIf="Numerotaller==='TALLER 3'">
                    <button class="tallerCardleft__butonHeader" (click)="verDesarrollo()">Regresar</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(1)"
                        [class.active]="activeButton === 1">1. Protocolo de Autoridades y Organizadores</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(2)"
                        [class.active]="activeButton === 2">2. Introducción y Contextualización</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(3)"
                        [class.active]="activeButton === 3">3. Presentación Técnica</button>
                    <button class="buttonContent__desarrollo" (click)="botonActivomenu(4)"
                        [class.active]="activeButton === 4">4. Sesión de Retroalimentación</button>
                    <button class="buttonContent__desarrollo" [class.active]="activeButton === 5"
                        (click)="botonActivomenu(5)" [class.active]="activeButton === 5">5. Cierre y Compromiso</button>
                </div>
                <div class="desarrollo">
                    <div class="desarrollo__title" *ngIf="Numerotaller==='TALLER 2'">Desarrollo de la mesa de Trabajo
                    </div>
                    <div class="desarrollo__title" *ngIf="Numerotaller==='TALLER 3'">Resultados
                    </div>

                    <div class="desarrollo__content" *ngIf="activeButton===1">
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 2'">
                            {{datosMunicipioSelecionado[1].Descripcion.Texto}}
                        </div>
                        <div class="desarrollo__contentIcos" *ngIf="Numerotaller==='TALLER 2'">
                            <div class="desarrollo__icon desarrollo__icon--blue1">
                                <div class="desarrollo__textIcon">Densidad Poblacional</div>
                                <img src="assets/talleres/iconos/icon10.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--morado">
                                <div class="desarrollo__textIcon">Caminos</div>
                                <img src="assets/talleres/iconos/icon9.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--orange_1">
                                <div class="desarrollo__textIcon">Potencial Producctivo</div>
                                <img src="assets/talleres/iconos/icon3.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--green1">
                                <div class="desarrollo__textIcon">Bosques</div>
                                <img src="assets/talleres/iconos/icon11.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--green2">
                                <div class="desarrollo__textIcon">Severidad de Incendios</div>
                                <img src="assets/talleres/iconos/icon7.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--red1">
                                <div class="desarrollo__textIcon">Frecuencia de Quemas</div>
                                <img src="assets/talleres/iconos/icon6.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--orange2">
                                <div class="desarrollo__textIcon">Tenencia de Tierras</div>
                                <img src="assets/talleres/iconos/icon5.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--red2">
                                <div class="desarrollo__textIcon">Biomasa Subterranea</div>
                                <img src="assets/talleres/iconos/icon12.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--green3">
                                <div class="desarrollo__textIcon">Pendiente</div>
                                <img src="assets/talleres/iconos/icon4.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--brown">
                                <div class="desarrollo__textIcon">Precipitación Media</div>
                                <img src="assets/talleres/iconos/icon8.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--green4">
                                <div class="desarrollo__textIcon">Vulnerabilidad al Cambio climatico</div>
                                <img src="assets/talleres/iconos/icon1.png" alt="">
                            </div>
                            <div class="desarrollo__icon desarrollo__icon--blue2">
                                <div class="desarrollo__textIcon">Escenarios Climáticos</div>
                                <img src="assets/talleres/iconos/icon2.png" alt="">
                            </div>
                        </div>
                        <div class="desarrollo__bot" *ngIf="Numerotaller==='TALLER 2'">
                            {{datosMunicipioSelecionado[1].Descripcion.Adicional}}
                        </div>
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 3'">
                            {{datosMunicipioSelecionado.Resultados.Protocolo}}
                        </div>
                    </div>
                    <div class="desarrollo__content" *ngIf="activeButton===2">
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 2'">
                            {{datosMunicipioSelecionado[2].Descripcion}}


                            <div class="desarrollo__imagenes">
                                <img
                                    src="assets/imagenes/Talleres/{{Numerotaller}}/{{municipioSeleccionado?.nombre}}/mapas/1.png">
                                <img
                                    src="assets/imagenes/Talleres/{{Numerotaller}}/{{municipioSeleccionado?.nombre}}/mapas/2.png">
                            </div>

                            <!--//////////////////////////////////// -->
                        </div>
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 3'">
                            {{datosMunicipioSelecionado.Resultados.Introduccion}}
                        </div>
                    </div>
                    <div class="desarrollo__content" *ngIf="activeButton===3">
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 2'">
                            {{datosMunicipioSelecionado[3].Descripcion.Texto}}
                            <div class="desarrollo__acciones"
                                *ngFor="let accion of datosMunicipioSelecionado[3].Descripcion.Acciones; let i = index">
                                {{ i + 1 }}. {{ accion }}
                            </div>
                        </div>
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 3'">
                            Presentación Técnica: <br>
                            {{datosMunicipioSelecionado.Resultados.Presentacion.Desrcipcion}}
                            <div
                                *ngFor="let accion of datosMunicipioSelecionado.Resultados.Presentacion.Temas; let i = index">
                                {{ i + 1 }}. {{ accion }}
                            </div>
                        </div>
                    </div>
                    <div class="desarrollo__content" *ngIf="activeButton===4">
                        <div class="desarrollo__subText">
                            <div class="swot-grid" *ngIf="Numerotaller==='TALLER 2'">
                                <div class="swot-box swot-box__fortalezas">
                                    <h2>Fortalezas</h2>
                                    <ul>
                                        <li *ngFor="let item of datosMunicipioSelecionado[4].Descripcion.Fortalezas">
                                            {{
                                            item }}</li>
                                    </ul>
                                </div>
                                <div class="swot-box swot-box__debilidades">
                                    <h2>Debilidades</h2>
                                    <ul>
                                        <li *ngFor="let item of datosMunicipioSelecionado[4].Descripcion.Debilidades">
                                            {{
                                            item }}</li>
                                    </ul>
                                </div>
                                <div class="swot-box swot-box__oportunidades">
                                    <h2>Oportunidades</h2>
                                    <ul>
                                        <li *ngFor="let item of datosMunicipioSelecionado[4].Descripcion.Oportunidades">
                                            {{ item }}</li>
                                    </ul>
                                </div>
                                <div class="swot-box swot-box__amenazas">
                                    <h2>Amenazas</h2>
                                    <ul>
                                        <li *ngFor="let item of datosMunicipioSelecionado[4].Descripcion.Amenazas">
                                            {{
                                            item }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 3'">
                                Sesión de retroalimentación: <br>
                                {{datosMunicipioSelecionado.Resultados.Sesion.Desrcipcion}}
                                <div
                                    *ngFor="let accion of datosMunicipioSelecionado.Resultados.Sesion.Temas; let i = index">
                                    {{ i + 1 }}. {{ accion }}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="desarrollo__content" *ngIf="activeButton===5">
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 2'">
                            {{datosMunicipioSelecionado[5].Descripcion.Texto}}
                        </div>
                        <div class="desarrollo__subText" *ngIf="Numerotaller==='TALLER 3'">
                            Cierre y compromiso: <br>
                            {{datosMunicipioSelecionado.Resultados.Cierre.Desrcipcion}}
                            <div
                                *ngFor="let accion of datosMunicipioSelecionado.Resultados.Cierre.Temas; let i = index">
                                {{ i + 1 }}. {{ accion }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-card-generico *ngIf="galeriaPracticos" [tamContenedor]="'card--big'">
        <div class="tituloFtosTaller4">
            <button class="botonRegresar" (click)="vergaleriaPracticos('practico')">Regresar</button>
        </div>
        <div class="tituloFtosTaller4"> FOTOGRAFÍAS TALLER PRACTICO</div>
        <div class="gallery-container">
            <div class="foto-item" *ngFor="let image of imageNumbers ; let i = index">
                <img [src]="getImageUrl(i+1,tipoTaller)">

            </div>
        </div>
    </app-card-generico>
</div>