<div class="card" *ngIf="mostrarSimpleCard">
    <div class="card-header">
        <div class="card-title">{{ municipio }}</div>
        <div class="button" (click)="cerrarSimpleCard()"><button class="close-btn">×</button></div>
    </div>
    <div class="card-body">
        <div class="card-info">
            <div class="card-info__contentText">
                <div class="card-info--bold">Departamento:</div> {{municipioEncontrado.departamento}}
            </div>
            <div class="card-info__contentText">
                <div class="card-info--bold">Provincia:</div>{{municipioEncontrado.provincia}}
            </div>
            <div class="card-info__contentText">
                <div class="card-info--bold">Área Protegida Nacional:</div> {{municipioEncontrado.areaProtegida}}
            </div>
            <div class="card-info__contentText">
                <div class="card-info--bold">Territorios Comunitarios de Origen:</div>
                {{municipioEncontrado.comunarioOrigen}}
            </div>

        </div>
        <div class="card-stats">
            <div class="stat-box">
                <p class="stat-value">{{municipioEncontrado.superficie_km2}} Km<sup>2</sup></p>
                <p class="stat-label">Superficie</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.poblacion">
                <p class="stat-value">{{municipioEncontrado.poblacion}} habitantes</p>
                <p class="stat-label">Población Proyectada</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.ubicacion">
                <p class="stat-value">{{municipioEncontrado.ubicacion}} </p>
                <p class="stat-label">Ubicacion</p>
            </div>
            <!--  <div class="" *ngIf="municipioEncontrado.ubicacion">
                <p class="stat-label">caracteristicas</p>
                <div *ngFor="let key of municipioEncontrado.caracteristicas">
                    <p>{{key}}</p>
                </div>
            </div> -->
        </div>
    </div>
</div>