<div class="card" *ngIf="mostrarSimpleCard">
    <div class="card-header">
        <div class="card-title">{{ municipio }}</div>
        <div class="button" (click)="cerrarSimpleCard()"><button class="close-btn">×</button></div>
    </div>
    <div class="card-body">
        <div class="card-info">
            <p style="margin: 0; text-align: justify;">
                <strong>Departamento:</strong> {{municipioEncontrado.departamento}}
            </p>
            <p style="margin: 0; text-align: justify;">
                <span class="card-info--bold">Provincia: </span>{{municipioEncontrado.provincia}}
            </p>
            <p style="margin: 0; text-align: justify;">
                <strong>Área Protegida Nacional: </strong> {{municipioEncontrado.areaProtegida}}
            </p>
            <p style="margin: 0; text-align: justify;">
                <strong>Territorios Comunitarios de Origen: </strong>
                {{municipioEncontrado.comunarioOrigen}}
            </p>

        </div>
        <div class="card-stats">
            <div class="stat-box">
                <p class="stat-value">{{municipioEncontrado.superficie_km2}} Km<sup>2</sup></p>
                <p class="stat-label">Superficie</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.poblacion">
                <p class="stat-value">{{municipioEncontrado.poblacion}} habitantes</p>
                <p class="stat-label">Población Proyectada</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.ubicacion">
                <p class="stat-value">{{municipioEncontrado.ubicacion}} </p>
                <p class="stat-label">Ubicacion</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.comunidades">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.comunidades}} </p>
                <p class="stat-label">Comunidades</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.limita_con">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.limita_con}} </p>
                <p class="stat-label">Limita</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.territorio">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.territorio}} </p>
                <p class="stat-label">Territorio</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.acceso">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.acceso}} </p>
                <p class="stat-label">Acceso</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.condiciones_naturales">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.condiciones_naturales}} </p>
                <p class="stat-label">Condiciones Naturales</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.usos">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.usos}} </p>
                <p class="stat-label">Usos</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.problemas">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.problemas}} </p>
                <p class="stat-label">Problemas</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.distritos">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.distritos}} </p>
                <p class="stat-label">Distritos</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.amenazas">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.amenazas}} </p>
                <p class="stat-label">Amenazas</p>
            </div>
            <div class="stat-box" *ngIf="municipioEncontrado.caracteristicas.causas">
                <p class="stat-value">{{municipioEncontrado.caracteristicas.causas}} </p>
                <p class="stat-label">Causas</p>
            </div>
        </div>
    </div>
</div>