.card {
    color: white;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: fixed;
    top: 20%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #1F631CE5;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
}

.button {
    width: fit-content;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.card-body {
    background-color: #272323E5;
    padding: 10px;
}

.card-info {
    border-bottom: 1px;
}

.card-info p {
    margin: 8px 0;
    font-size: 0.9em;
}

.card-info strong {
    color: #ccc;
}
.card-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px; /* Space between stat boxes */

}

.stat-box {
    background-color: #388e3c; /* Green color for stat boxes */
    border-radius: 8px;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-value {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.stat-label {
    font-size: 0.8em;
    margin: 0;
    color: #eee; /* Slightly lighter color for labels */
}