<div class="botones">
  <div
    class="botones__btn"
    (click)="buscarMunicipio(Municipio, 'Flora')"
    [class.active]="seleccionado === 'Flora'"
  >
    Flora
  </div>
  <div
    class="botones__btn"
    (click)="buscarMunicipio(Municipio, 'Fauna')"
    [class.active]="seleccionado === 'Fauna'"
  >
    Fauna
  </div>
</div>
<div class="leyendaMain leyendaMain--small">
  <div class="leyendaMain__title">
    {{ Municipio }}
  </div>
  <div class="leyendaMain__body" *ngIf="seleccionado === 'Flora'">
    <div class="leyendaMain__leyenda">Leyenda</div>
    <div class="leyendaMain__content">
      <div *ngIf="municipioData?.fauna?.centrosPoblados">
        <div
          class="items__texto"
          *ngFor="
            let item of municipioData.fauna.centrosPoblados;
            let i = index
          "
        >
          <img [src]="municipioData.fauna.centrosPoblados[i].img" alt="" />
          {{ item.texto }}
        </div>
      </div>
      <div *ngIf="municipioData?.fauna?.areaquemada">
        <div
          class="items__texto"
          *ngFor="let item of municipioData.fauna.areaquemada; let i = index"
        >
          <img [src]="municipioData.fauna.areaquemada[i].img" alt="" />
          {{ item.texto }}
        </div>
      </div>
      <div class="subtitle" *ngIf="municipioData?.fauna?.Tco">
        Territorios Comunitarios de Origen
      </div>
      <div *ngIf="municipioData?.fauna?.Tco">
        <div
          class="items__texto"
          *ngFor="let item of municipioData.fauna.Tco; let i = index"
        >
          <img [src]="municipioData.fauna.Tco[i].img" alt="" />
          {{ item.texto }}
        </div>
      </div>
      <div class="subtitle" *ngIf="municipioData?.fauna?.areasprotegidas">
        Área Protegida
      </div>
      <div *ngIf="municipioData?.fauna?.areasprotegidas">
        <div
          class="items__texto"
          *ngFor="
            let item of municipioData.fauna.areasprotegidas;
            let i = index
          "
        >
          <img [src]="municipioData.fauna.areasprotegidas[i].img" alt="" />
          {{ item.texto }}
        </div>
      </div>
      <div class="subtitle" *ngIf="municipioData?.fauna?.bosques">Bosques</div>
      <div *ngIf="municipioData?.fauna?.bosques">
        <div
          class="items__texto"
          *ngFor="let item of municipioData.fauna.bosques; let i = index"
        >
          <img [src]="municipioData.fauna.bosques[i].img" alt="" />
          {{ item.texto }}
        </div>
      </div>
    </div>
  </div>
  <div class="leyendaMain__body" *ngIf="seleccionado === 'Fauna'">
    <div class="leyendaMain__leyenda">Especies Amenazadas</div>
    <div class="btnfauna">
      <div
        class="btnfauna__btnF"
        [class.active]="seleccionadoFauna === 'reptiles'"
        (click)="mostrarfauna('reptiles', Municipio)"
      >
        Anfibios-Reptiles
      </div>
      <div
        class="btnfauna__btnF"
        [class.active]="seleccionadoFauna === 'mamiferos'"
        (click)="mostrarfauna('mamiferos', Municipio)"
      >
        Aves-Mamiferos
      </div>
    </div>
    <div class="leyendaMain__content" *ngIf="seleccionadoFauna === 'reptiles'">
      <div *ngIf="municipioData?.especiesAmenazadas?.anfibiosReptiles.anfibios">
        <div
          class="items__texto"
          *ngFor="
            let item of municipioData.especiesAmenazadas.centrosPoblados;
            let i = index
          "
        >
          <img
            [src]="municipioData.especiesAmenazadas.centrosPoblados[i].img"
            alt=""
          />
          {{ item.texto }}
        </div>
        <div
          class="subtitle"
          *ngIf="municipioData?.especiesAmenazadas.anfibiosReptiles.anfibios"
        >
          Anfibios
        </div>
        <div
          class="items__texto"
          *ngFor="
            let item of municipioData.especiesAmenazadas.anfibiosReptiles
              .anfibios;
            let i = index
          "
        >
          <img
            [src]="
              municipioData.especiesAmenazadas.anfibiosReptiles.anfibios[i].img
            "
            alt=""
          />
          {{ item.texto }}
        </div>
        <div
          class="subtitle"
          *ngIf="municipioData?.especiesAmenazadas.anfibiosReptiles.reptiles"
        >
          Reptiles
        </div>
        <div
          class="items__texto"
          *ngFor="
            let item of municipioData.especiesAmenazadas.anfibiosReptiles
              .reptiles;
            let i = index
          "
        >
          <img
            [src]="
              municipioData.especiesAmenazadas.anfibiosReptiles.reptiles[i].img
            "
            alt=""
          />
          {{ item.texto }}
        </div>
      </div>
    </div>
    <div class="leyendaMain__content" *ngIf="seleccionadoFauna === 'mamiferos'">
      <div
        class="subtitle"
        *ngIf="municipioData?.especiesAmenazadas?.avesMamiferos.aves"
      >
        Aves
      </div>
      <div
        class="items__texto"
        *ngFor="
          let item of municipioData.especiesAmenazadas.avesMamiferos.aves;
          let i = index
        "
      >
        <img
          [src]="municipioData.especiesAmenazadas.avesMamiferos.aves[i].img"
          alt=""
        />
        {{ item.texto }}
      </div>
      <div
        class="subtitle"
        *ngIf="municipioData?.especiesAmenazadas?.avesMamiferos.mamiferos"
      >
        Mamíferos
      </div>
      <div
        class="items__texto"
        *ngFor="
          let item of municipioData.especiesAmenazadas.avesMamiferos.mamiferos;
          let i = index
        "
      >
        <img
          [src]="
            municipioData.especiesAmenazadas.avesMamiferos.mamiferos[i].img
          "
          alt=""
        />
        {{ item.texto }}
      </div>
    </div>
  </div>
</div>

<div class="infoSecundario">
  <div class="infoSecundario--contenedor1">
    <div class="infoSecundario__titulo">Riqueza Ecológica del Municipio</div>
    <div class="infoSecundario__contenido" *ngIf="infosec.CoberturaForestal">
      <div *ngFor="let key of infosec.CoberturaForestal">
        {{ key.texto }} {{ key.cantidad }}
      </div>
    </div>
  </div>
  <div class="infoSecundario--contenedor2" *ngIf="infosec.territoriosIndigenas">
    <div class="infoSecundario__titulo">Areas Protegidas</div>
    <div class="infoSecundario__contenido">
      <div *ngFor="let key of infosec.territoriosIndigenas">
        {{ key.texto }} {{ key.cantidad }}
      </div>
    </div>
  </div>
  <div class="infoSecundario--contenedor3">
    <div class="infoSecundario__titulo">Impacto de Incendios</div>
    <div class="infoSecundario__contenido" *ngIf="infosec.Incendios">
      <div *ngFor="let key of infosec.Incendios">
        {{ key.texto }} {{ key.cantidad }}
      </div>
    </div>
  </div>
</div>
