<div class="card"  *ngIf="mostrarleftCard">
    <div class="card-header">
        <mat-icon fontIcon="terminal"></mat-icon>
        <div class="card-title">Otras Plataformas</div>
        <div class="button" (click)="alternarleftCard()"><button class="close-btn">×</button></div>
    </div>
    <div class="platform-list">
        <div class="platform">
            <img src="logo1.png" alt="Juventudes">
            <div class="platform-name">Plataforma de Juventudes por la justicia Climática</div>
        </div>
        <div class="platform">
            <img src="logo2.png" alt="Mujeres">
            <div class="platform-name">Plataforma de Mujeres contra el Cambio Climático</div>
        </div>
        <div class="platform">
            <img src="logo3.png" alt="Medio Ambiente">
            <div class="platform-name">Ministerio de Medio Ambiente y Agua</div>
        </div>
        <div class="platform">
            <img src="logo4.png" alt="Madre Tierra">
            <div class="platform-name">Autoridad Plurinacional de la Madre Tierra</div>
        </div>
    </div>
</div>