<div class="card">
  <div class="card-header">
    <mat-icon fontIcon="terminal"></mat-icon>
    <div class="card-title">Otras Plataformas</div>
    <div class="button" (click)="alternarleftCard()">
      <button class="close-btn">×</button>
    </div>
  </div>
  <div class="platform-list">
    <a
      href="https://pjjc.madretierra.gob.bo/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="platform">
        <img src="assets/logos/juventudes.png" alt="Juventudes" />
        <div class="platform-name">
          Plataforma de Juventudes por la justicia Climática
        </div>
      </div>
    </a>
    <a
      href="https://pmccc.madretierra.gob.bo/#:~:text=La%20Plataforma%20de%20Mujeres%20contra,lucha%20por%20la%20justicia%20clim%C3%A1tica."
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="platform">
        <img src="assets/logos/mujeres.png" alt="Mujeres" />
        <div class="platform-name">
          Plataforma de Mujeres contra el Cambio Climático
        </div>
      </div>
    </a>

    <a
      href="https://www.mmaya.gob.bo/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="platform">
        <img src="assets/logos/ministerio.png" alt="Medio Ambiente" />
        <div class="platform-name">Ministerio de Medio Ambiente y Agua</div>
      </div>
    </a>

    <a
      href="https://madretierra.gob.bo/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="platform">
        <img src="assets/logos/APMT LOGO.png" alt="Madre Tierra" />
        <div class="platform-name">
          Autoridad Plurinacional de la Madre Tierra
        </div>
      </div>
    </a>
  </div>
</div>
