.main-card {
  position: fixed;
  left: 0;
  top: 15%;
  z-index: 5;
  background-color: #111;
  color: wi;
  padding: 20px;
  bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: white;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 2px 10px;
  align-items: center;
  font-size: 1rem;
}

.card img.logo {
  width: 80px;
  height: auto;
}

.card-content {
  flex: 1;
  font-size: 0.8rem;
  padding: 5px 10px;
}

.card-content h5 {
  margin: 0;
  color: #4caf50;
  font-size: 1rem;
}

.card-content .label {
  font-weight: bold;
  margin-top: 10px;
}

.card-content p {
  font-size: 0.7rem;
}

.card-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card-action img.pdf-icon {
  width: 40px;
}

.card-action button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  border: solid 1px #ccc;
}

.card-action button:hover {
  background-color: #ccc;
}

.pdfContainer {
  position: fixed;
  top: 10%;
  height: 100%;
  left: 15%;
  background-color: transparentize(#272323, 0.1);
  width: 70%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonRegresar {
  background-color: #14438f;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.botonRegresar:hover {
  color: #14438f;
  background-color: white;
}

@media (max-width: 500px) {
  .main-card {
    top: 0;
    bottom: auto;
    height: 100%;
    max-height: none;
  }

  .pdfContainer {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  .botonRegresar {
    right: 0;
    left: auto;
  }
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.button {
  width: fit-content;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-main {
  max-height: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}