<div class="main-card" *ngIf="mostrarManual">
    <div class="titulo">Convenios</div>

    <div class="card">
        <img src="assets/imagenes/352390683_939313077346567_5335661545168067936_n.jpg" alt="Escudo Tiquipaya" class="logo">
        <div class="card-content">
            <h2>Gobierno Autonomo Municipal de Tiquipaya</h2>
            <p class="label">Objeto del Convenio</p>
            <p>El presente convenio tiene como objeto principal establecer una alianza estratégica...</p>
            <p class="label">Fecha de Suscripción</p>
            <p>1 de Febrero de 2025</p>
        </div>
        <div class="card-action">
            <img src="assets/imagenes/pdf-icon-png-2058.png" alt="PDF" class="pdf-icon">
            <button (click)="ShowManual('Convenio_Tiquipaya.pdf','Gobierno Autonomo Municipal de Tiquipaya')">Ver Convenio</button>
        </div>
    </div>

    <div class="card">
        <img src="assets/imagenes/486164854_9422512184532706_5850050359495577557_n.jpg" alt="Escudo Vinto" class="logo">
        <div class="card-content">
            <h2>Gobierno Autonomo Municipal de Vinto</h2>
            <p class="label">Objeto del Convenio</p>
            <p>El presente convenio tiene como objeto principal establecer una alianza estratégica...</p>
            <p class="label">Fecha de Suscripción</p>
            <p>26 de Febrero de 2025</p>
        </div>
        <div class="card-action">
            <img src="assets/imagenes/pdf-icon-png-2058.png" alt="PDF" class="pdf-icon">
            <button (click)="ShowManual('Convenio_Vinto.pdf','Gobierno Autonomo Municipal de Vinto')">Ver Convenio</button>
        </div>
    </div>
</div>
<div class="pdfContainer" *ngIf="!mostrarManual">
    <button class="botonRegresar" (click)="ShowManual('','')">Regresar</button>
    <app-pdf-viwer [direccion]="manual" [titulo]="titulo"></app-pdf-viwer>
</div>