<app-cabecera></app-cabecera>
<app-botones-diag-recu-alte *ngIf="mostrartrebotones"></app-botones-diag-recu-alte>
<app-botones-evaluamos [municipio]="municipio" *ngIf="mostrartrebotonEvaluamos"
    (tipoBotonIndice)="actualizarIndice($event)"></app-botones-evaluamos>
<!-- MAPAS -->
<div id="map" *ngIf="!mostrarMapa2"></div>
<div class="maps-container" *ngIf="mostrarMapa2">
    <div id="map1" class="map"></div>
    <div class="map-divider">
        <div class="object"></div>
    </div>
    <div id="map2" class="map"></div>
    <div class="map-slider">
        <input type="range" min="0" max="100" value="50" class="slider" id="mapRange" (input)="updateMapWidth($event)">
    </div>
</div>
<div id="map3" *ngIf="mostrarMapa3"></div>
<app-talleres *ngIf="mostrarTalleres"></app-talleres>
<app-alter-rightbar (locationSelected)="handleLocationSelection($event)" *ngIf="mostraralter_rightbar">
</app-alter-rightbar>
<app-rightbar (locationSelected)="handleLocationSelection($event)" [mostrarRightBar]="mostrarRightBar"></app-rightbar>
<app-menu (localizacionUsuario)="locateUser($event)" [MunicipioMenu]="municipio"></app-menu>
<app-simple-card *ngIf="mostrarCard" [municipio]="municipio"></app-simple-card>
<app-diagnostico *ngIf="mostrarDiagnostico" [MunicipioDiag]="municipio"></app-diagnostico>
<app-leftbar *ngIf="mostrarLeftBar"></app-leftbar>
<app-evaluamos [Municipio]="municipio" *ngIf="mostrarEvaluamos" (locationEvaluamos)="evaluamos($event)"></app-evaluamos>
<app-ver-diag [Municipio]="municipio" *ngIf="mostrarVerDiagnostico"></app-ver-diag>
<app-convenios *ngIf="mostrarConvenios"></app-convenios>
<app-manuales *ngIf="mostrarManuales"></app-manuales>

<app-card-generico [Municipio]="municipio" [titulo]="'Recuperación y Restauración'" *ngIf="mostrarrecu"
    [tamContenedor]="'card--small'">
    <p>Identificación de acciones para la recuperación y restauración de áreas afectadas por incendios forestales</p>
    <button class="boton boton--azul">Ver Acciones </button>
</app-card-generico>
<app-alternativas [municipio]="municipio" *ngIf="mostraralternativas"></app-alternativas>
<!-- <app-card-generico [Municipio]="municipio" [titulo]="'Alternativas al uso de fuego'" *ngIf="mostraralternativas">
    <p>Identificación y diseño de prácticas alternativas al uso de fuego</p>
    <button class="boton boton--azul">Ver Alternativas </button>
</app-card-generico> -->

<app-leyenda [Municipio]="municipio" [datos]="leyandaActiva" [tipoFigura]="'50%'" *ngIf="mostrarLeyenda"></app-leyenda>