#map {
    position: fixed;
    top: 30;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: -1; */
}

p {
    
    text-align: center;
    margin-bottom: 10px;
}
.boton{
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    border: none;
    &--azul{
        background-color: #14438F;
    }
}