.map {
  position: fixed;
  top: 30;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1; */
}

#map {
  position: fixed;
  top: 30;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1; */
}

#map3 {
  position: fixed;
  top: 30;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* z-index: -1; */
}

#map1 {
  clip-path: inset(0 50% 0 0);
}

#map2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  clip-path: inset(0 0 0 50%);
}

.object {
  width: 30px;
  height: 30px;
  background-color: transparentize(black, 0.3);
  position: fixed;
  top: 50%;
  margin-left: -12px;
  transform: rotate(45deg);
}

.map-slider {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  width: 90%;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.slider::-webkit-slider-runnable-track {
  background: transparent;
  border-color: transparent;
  border-style: none;
  box-shadow: none;
  height: 0;
  width: 0;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 50px;
  height: 500px;
  background: transparent;
  border-radius: 0;
  border: none;
  cursor: pointer;
  position: relative;

  z-index: 2;

  /*     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 */
}

.slider {
  appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  margin: 15px 0;
}

.map-divider {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background-color: transparentize(black, 0.7);
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
}

.maps-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

.map {
  height: 100%;
  flex: 1;
  position: relative;
  z-index: 1;
}

p {
  text-align: center;
  margin-bottom: 10px;
}

.boton {
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;

  &--azul {
    background-color: #14438f;
  }
}

:host ::ng-deep .pulse-marker {
  background: #f53255;
  border-radius: 100%;
  width: 1px;
  height: 1px;
  position: fixed;
  animation: pulse 2s infinite;
}
:host ::ng-deep .pulse-marker-yellow {
  background: yellow;
  border-radius: 100%;
  width: 1px;
  height: 1px;
  position: fixed;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffddb5;
  }
  70% {
    box-shadow: 0 0 0 7px rgba(59, 157, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 157, 221, 0);
  }
}
