<div class="focosCalor">
    <div class="titulo">{{municipio}}</div>
    <div class="fuente">Historico de Quemas 2016 - 2022</div>
    <table>
        <thead>
            <tr>
                <th>Año</th>
                <th>Superficie quemada</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of municipioData.datos">
                <td class="mes">{{ item.Mes }}</td>
                <td class="cantidad">{{ item.Cantidad }}</td>
            </tr>
        </tbody>
    </table>
    <div class="fuente">Fuente: SIMB</div>
</div>
<div class="superficie">
    <div class="superficie__titulo">
        Superficie Quemada 2023
    </div>
    <div class="superficie__text">
        {{municipioData.superficie}}
    </div>
</div>