<div class="cabecera">
    <div class="imagenes">
        <img *ngFor="let logo of logos" [src]="logo" class="logo" />
    </div>
    <div class="right">
        <div class="title">{{titulo}}</div>
        <div class="bar"></div>
        <div class="contac">
            <div class="info_content">
                <mat-icon fontIcon="send"></mat-icon>
                <a href="">{{correo}}</a>
            </div>
            <div class="info_content">
                <mat-icon fontIcon="location_on"></mat-icon>
                <a href="">{{direccion}}</a>
            </div>
        </div>
    </div>
</div>