<div class="cabecera">
    <div class="imagenes">
        <img src="assets/logos/bicentenario_vertical.png">
        <img src="assets/logos/APMT LOGO.png">
        <img src="assets/logos/lgo-2.png">
        <img src="assets/logos/Euroclima.png">
        <img src="assets/logos/AFD.png">
    </div>
    <div class="title">RECUPERCIÓN POST INCENDIOS ALTERNATIVAS AL USO DE FUEGO</div>
    <div class="bar"></div>
    <div class="contac">
        <div class="info_content">
            <mat-icon fontIcon="send"></mat-icon>
            <a href="">Informacion@incendios.gob.bo</a>
        </div>
        <div class="info_content">
            <mat-icon fontIcon="location_on"></mat-icon>
            <a href="">Calle Sánchez Lima Nro. 2653, Zona Sopocachi</a>
        </div>
    </div>
</div>