
<div class="card">
    <div class="card-header">

        <div class="card-title">{{MunicipioDiag}}</div>
        <div class="button" (click)="onCerrarClick()"><button class="close-btn">×</button></div>
    </div>
    <div class="platform-list">
        <div class="title">
            Diagnóstico
        </div>
        <div class="description">
            <div class="text">Diagnóstico de la situación actual de las áreas afectadas por el fuego</div>
        </div>
        <button class="btn-body">Como Evaluamos</button>
        <button class="btn-body">Ver Diagnostico</button>

    </div>
</div>